@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2563EB;  
  --secondary: #1e3a8a;    
  --tertiary: #172554;      
  --light: #dee8fc;        
  --muted: #bdd0f9;   
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-light: var(--light);
  --color-muted: var(--muted);

  --font-sans: var(--font-inter);
  --font-display: var(--font-space-grotesk);
}

@layer utilities {
  .font-display {
    font-family: var(--font-space), sans-serif;
  }

  .font-body {
    font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  }

  .text-primary {
    color: var(--primary);
  }
}